@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}
html {
  scroll-behavior: smooth;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
}

h1,
.heading-text,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display;
  text-transform: capitalize;
}

/* nav */

nav {
  display: grid;
  place-items: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1150px;
  gap: 15px;
}

.balance-logo-container {
  display: grid;
  place-items: center;
}

.balance-logo {
  border-radius: 50px;
  border: 2px solid #158695;
  padding: 3px;
}

.navigation-links-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.navigation {
  margin-left: 0 !important;
  border-radius: 3px;
}

.navigation,
.socials {
  color: rgb(132, 132, 132);
  text-decoration: none;
  margin-left: 5px;
  padding: 5px;
  transition: all 0.65s;
}
.navigation:hover {
  color: black;
  font-weight: bold;
  background-color: #158695;
  color: #fff;
}

.socials:hover {
  color: white;
}

/* footer */
footer {
  display: grid;
  place-items: center;
  background-color: black;
  min-height: 60px;
  padding: 10px;
}
/* main contents */
main {
  min-height: 100vh;
}

.main-container {
  min-height: 600px;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.399), rgba(0, 0, 0, 0.497)),
    url("./assets/images/hero-image.png") no-repeat center;
  padding: 10%;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.home-title {
  font-size: 12px;
}

.main-one-wrapper {
  display: grid;
  gap: 20px;
  color: white;
}

.name {
  color: #31c39e;
  font-size: 2.2rem;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  max-width: 400px;
}

.hero-button {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #b0b0b0;
  padding: 10px;
  border-radius: 2px;
  transition: all 0.5s;
}

.hero-button:last-of-type {
  background-color: #158695;
}

.hero-button:hover {
  opacity: 0.65;
}

.about,
.services,
.experience,
.blog,
.projects,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 150px 25px;
}

.heading-text {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 3px;
  font-family: Open Sans;
}

.underline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: black;
  border-radius: 99px;
}
.moses-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  width: 100%;
}

.about-skill-level {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.experience-card {
  background-color: #eaeaea;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.download {
  width: fit-content;
  padding: 10px 25px;
  border: 0;
  background-color: #158695;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.5s;
}

.download:hover {
  opacity: 0.5;
  background-color: seagreen;
}
.about-image {
  max-width: 350px;
  display: block;
  height: 100%;
}
.moses-card-wrapper > div {
  max-width: 350px;
}

/* Services starts here */

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.card-icon-wrapper {
  display: flex;
  gap: 10px;
}

.service-card h4 {
  margin-bottom: 10px;
}

.services-underline {
  background-color: #f1f1f1;
}

/* Experience */

.experience img {
  width: 100%;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.experience-description {
  padding: 10px;
}

.badge {
  background-color: #31c39e;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: x-small;
  color: #fff;
}

/* works */
.works {
  min-height: fit-content !important;
  padding: 70px 2.5%;
  text-align: center;
  color: #fff;
  background-color: #0b8ea0;
}

.works-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.works-description {
  max-width: 500px;
}

.works-navigation-wrapper {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.works-navigation {
  padding: 10px 25px;
  font-size: 12px;
  transition: all 0.5s;
}
.works-navigation:hover {
  scale: 0.95;
  border-radius: 0.25rem;
}

.works-navigation:first-of-type {
  background-color: #fff;
  color: #0b8ea0;
}

.works-navigation:last-of-type {
  background-color: #000;
  color: #fff;
}

.works-navigation:hover {
  background-color: #31c39e;
  color: #fff;
}

.main-container:nth-of-type(3) {
  background-color: #31c39e;
  color: #fff;
}

.blog {
  background: linear-gradient(rgba(0, 0, 0, 0.399), rgba(0, 0, 0, 0.497)),
    url(./assets/images/blog-bg.jpg) no-repeat center/cover border-box;
  color: #fff;
}

.blog .underline {
  background-color: #fff;
}

.blog-heading {
  width: 100%;
  max-width: 1050px;
}
.blog-heading p {
  color: #b0b0b0;
}

.blog-card {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  padding: 10px 0;
}

.blog-card p {
  padding: 5px 10px;
}

.blog-card a {
  color: #31c39e;
  display: block;
  margin: 10px;
  transition: all 0.5s;
  width: fit-content;
}
.blog-card a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.projects-image {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
